.search-container {
  position: relative;
  width: 250px;
}

.search-container input {
  width: 100%;
  padding: 8px;
  color: black;
}

.search-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: black;
  border: 1px solid #ccc;
  z-index: 10;
}

.search-item {
  padding: 8px;
  cursor: pointer;
}

.search-item:hover {
  background-color: #f0f0f0;
  color: black;
}

input:focus{
    border: none;
    outline: none;
}
